.header {
  background-color: rgb(43 43 43 / 50%);
  height: 60px;

  .inner {
    width: 1150px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    .logo {
      cursor: pointer;
      .logo-img {
        width: 50px;
        height: 50px;
      }
    }
    .action {
    }
    .user {
      display: flex;
      align-items: center;

      .cart {
        font-size: 3rem;
        margin-right: 20px;
        color: var(--white-color);
        user-select: none;
        position: relative;
        .cart-item {
          cursor: pointer;
        }
        .menu-cart {
          position: absolute;
          right: 0;
        }
      }

      .register {
        // margin-right: 10px;
      }
      .logIn {
      }

      .user-avatar {
        width: 50px;
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }
}
