.header {
  height: 60px;
  background-color: rgb(43 43 43 / 50%);

  .inner {
    width: 1150px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      cursor: pointer;
      .logo-img {
        width: 50px;
        height: 50px;
      }
    }

    .user {
      display: flex;
      align-items: center;

      .cart {
        font-size: 3rem;
        margin-right: 20px;
        user-select: none;
        position: relative;
        color: var(--white-color);
        .cart-item {
          cursor: pointer;
        }
        .menu-cart {
          right: 0;
          top: 48px;
          position: absolute;
        }
      }

      .register {
        // margin-right: 10px;
      }
      .logIn {
      }

      .user-avatar {
        width: 50px;
        cursor: pointer;
        border-radius: 50%;
      }
    }
  }
}
