.category {
  margin: 40px 20px;
  padding: 10px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .card {
    margin: 20px 20px;
    .card-background {
      border-radius: 10px;
      display: flex;
      user-select: none;
      background-color: #f6f6f6;
      justify-content: space-evenly;

      .description {
        .name {
          margin-top: 10px;
          font-size: 1.8rem;
          font-weight: 500;
        }

        .country {
          margin: 5px 0 0 0;
          font-size: 1.5rem;
          color: var(--light-color);
        }
        .price {
          font-size: 1.4rem;
          color: var(--primary-color);
          margin-bottom: 10px;
        }
      }
      .img-product {
        width: 90px;
        height: 90px;
        position: relative;
        top: -22px;
      }
    }
  }
}
