.category {
  // height: 300px;
  .card {
    margin: 20px 20px;
    .card-background {
      border-radius: 10px;
      display: flex;
      user-select: none;
      background-color: #f6f6f6;
      justify-content: space-evenly;

      .description {
        .name {
          margin-top: 10px;
          font-size: 1.8rem;
          font-weight: 600;
        }

        .country {
          margin: 5px 0 0 0;
          font-size: 1.5rem;
          color: var(--light-color);
        }
        .price {
          font-size: 1.4rem;
          color: var(--primary-color);
          margin-bottom: 10px;
        }
      }
      .img-product {
        width: 80px;
        height: 80px;
        position: relative;
        top: -10px;
        border-radius: 50%;
      }
    }
  }
}
